apiVersion: v1
kind: ConfigMap
metadata:
  name: network-problem-detector-observability-config
  namespace: {{ .Release.Namespace }}
  labels:
    extensions.gardener.cloud/configuration: monitoring
data:
  scrape_config: |
    - job_name: network-problem-detector-agents
      scheme: https
      tls_config:
        ca_file: /etc/prometheus/seed/ca.crt
      authorization:
        type: Bearer
        credentials_file: /var/run/secrets/gardener.cloud/shoot/token/token
      honor_labels: false
      kubernetes_sd_configs:
      - role: endpoints
        api_server: https://kube-apiserver:443
        tls_config:
          ca_file: /etc/prometheus/seed/ca.crt
        authorization:
          type: Bearer
          credentials_file: /var/run/secrets/gardener.cloud/shoot/token/token
      relabel_configs:
      - source_labels:
        - __meta_kubernetes_service_name
        - __meta_kubernetes_endpoint_port_name
        - __meta_kubernetes_namespace
        action: keep
        regex: network-problem-detector-(pod|host);metrics;kube-system
      - action: labelmap
        regex: __meta_kubernetes_service_label_(.+)
      - source_labels: [ __meta_kubernetes_pod_name ]
        target_label: pod
      - source_labels: [ __meta_kubernetes_service_name ]
        regex: network-problem-detector-(pod|host)
        replacement: ${1}
        target_label: network
      - source_labels: [ __meta_kubernetes_pod_node_name ]
        target_label: node
      - target_label: __address__
        replacement: kube-apiserver:443
      - source_labels: [__meta_kubernetes_pod_name,__meta_kubernetes_pod_container_port_number]
        regex: (.+);(.+)
        target_label: __metrics_path__
        replacement: /api/v1/namespaces/kube-system/pods/${1}:${2}/proxy/metrics
      metric_relabel_configs:
      - source_labels: [ __name__ ]
        action: keep
        regex: nwpd_.+
